# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.$usr
*/.vs

## Ignore Dynamics 365 files
/source/PackagesLocalDirectory/**/bin
/source/PackagesLocalDirectory/**/Resources
/source/PackagesLocalDirectory/**/WebContent
/source/PackagesLocalDirectory/**/XppMetadata
/source/PackagesLocalDirectory/**/Reports
/source/PackagesLocalDirectory/*/*.xml
!/source/PackagesLocalDirectory/**/LabelResources

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/